* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    min-height: 10vh;
    background-color: #FFECEC;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
}
.logo>img{
    width: 4rem;
    height: 4rem;
}
nav>a{
    margin: 1rem;
    text-decoration: none;
    font-size: 25px;
    color: #451952;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    
}
.inicio a:hover{
    border: 1px solid black;
    background-color: #E1AEFFF7;
    border-radius: 30px;
    padding: 5px;
}
main{
    min-height: 88vh;
    background-color: #FFBDF7;
}
#banner {
    margin-bottom: 7vh;
    width: 100%;
    height: 35vh;
    margin-top: 1rem;
    background-image: url("images/imagebanner.jpg");
    background-position: center;
    background-size: cover;
    object-fit: cover;
    border-radius: 30px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
h1, h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    color: #451952;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    text-shadow: #FFECEC 2px 5px;
}
h1{
    font-size: 60px;
}
h2{
    font-size: 40px;
}
#caja1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
#caja1 p{
    font-size: 25px;
    color: #451952;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.imagen1 {
    height: 50vh;
    width: 30vw;
    margin: 2rem;
    object-fit: cover;
    border-radius: 30px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
footer{
    height: 2vh;
    text-align: center;
    background-color: #E1AEFF;
    font-size: 12px;
    color: #451952;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#img-aboutUs1, #img-aboutUs2, #img-aboutUs3 {
    width: 25rem;
    height: 20rem;
    margin: 2rem;
    object-fit: cover;
    border-radius: 30px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
 }
 .aboutUs>img:hover {
    width: 40rem;
    height: 40rem;
    padding: 1rem;
    background-color: #FFECEC;
 }
 .aboutUs{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
 }
 .aboutUs p{
    font-size: 25px;
    color: #451952;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 }
 #imagen5{
    background-image: url("../assets/images/image5.jpg");
    margin-bottom: 7vh;
    width: 50%;
    height: 40vh;
    margin-top: 1rem;
    margin-left: 25%;
    background-position: center;
    background-size: cover;
    object-fit: cover;
    border-radius: 30px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
 .parrafo-contacto{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 25px;
    color: #451952;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 }
 .contacto nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    margin-top: 2rem;
    font-size: 25px;
    color: #451952;
 }
 .final a:hover{
    border: 1px solid black;
    background-color: #FFECEC;
    border-radius: 30px;
    padding: 5px;
}
#contenedor-services{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
table,tr,th,td {
    border: 2px solid #451952;
    border-collapse: collapse;
    font-size: 25px;
    color: #451952;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
table {
    text-align: center;
    background-color: #E1AEFF;
}
tr,th,td {
    width: 6rem;
    height: 4rem;
}
.tabla{
    border-radius: 30px;
}
#contenedor-listas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    width: 100vw;

}
.contenedor-lista1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    background-color: #E1AEFF;
    border-radius: 30px;
}
.imagen6y7{
    object-fit: cover;
    width: 50%;
}
h4{
    margin:0.5rem;
}
.contenedor-estrellas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #451952;
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin:0.5rem;
}
.imagenstar{
    width: 25rem;
    height: 5rem;
    object-fit: contain;
}
.contenedor-lista2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    background-color: #E1AEFF;
    border-radius: 30px;
    margin-top: 1rem;
}
.parrafo-rating{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 2rem;
    font-size: 25px;
    color: #451952;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
section>h2{
    font-size: 20px;
}
.container-hire{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}
fieldset{
    display: flex;
    flex-direction: column;
    
    border: 1px solid black;
    padding: 1rem;
    border-radius: 1rem;
    background-color: #FFECEC;
    color: #451952;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
iframe{
    width: 600px;
}
.form{
    display: flex;
    flex-direction: column;
    width: 30%;
}
.map{
    display: flex;
    flex-direction: column;
}
input[type="submit"]{
    align-self: flex-end;
    width: 5rem;
}
@media only screen and (min-width: 320px) and (max-width:767px) {
    nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    nav a{
        font-size: 15px;
        margin: 0.5rem;
    }
    header{
        flex-direction: column;
        align-items: center;
        position: relative;
    }
    #banner{
     width: 90%;
     margin-left:5%;
    }
    #caja1{
        flex-direction: column;
        margin-left: 1rem;
    }
    #caja1 p{
        font-size: 15px;
    }
    .imagen1{
        height: 40vh;
        width: 50vw;
    }
    .aboutUs{
        flex-direction: column;
    }
    #img-aboutUs1, #img-aboutUs2, #img-aboutUs3{
        height: 20vh;
        width: 60vw;
    }
    .aboutUs p{
        font-size: 15px;
    }
    #imagen5{
        margin-left: 20%;
        height: 40vh;
        width: 60vw;
    }
    .parrafo-contacto{
        font-size: 15px;
    }
    .contacto nav{
        flex-direction: column;
    }
    table,tr,th,td{
        font-size: 20px;
    }
    .contenedor-lista1, .contenedor-lista2{
        flex-direction: column;
        width: 80vw;
    }
    ol, ul {
        list-style-position: inside;
    }
    ul{
        list-style: none;
    }
    .contenedor-estrellas{
        font-size: 15px;
    }
    .imagenstar{
        width: 10rem;
    }
    h1, h2 {
        font-size: 1rem;
    }
    .parrafo-rating{
        font-size: 15px;
    }
    .container-hire{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    iframe{
        width: 300px;
    }
    section>h2{
        font-size: 15px;
    }
    fieldset{
        font-size: 12px;
    }
    .form{
        padding: 1rem;
        justify-content: center;
        align-items: center;
    }
    .map{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
@media only screen and (min-width: 768px) and (max-width:1023px) {
    #banner{
        width: 80%;
        margin-left: 10%;
       }
    .form{
        padding: 1rem;
       }
}