* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    min-height: 10%;
    background-color: #FFECEC;
    position: sticky;
    top: 0;
}
#contenedor-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.logo {
    width: 4rem;
    height: 4rem;
}
nav>a{
    margin: 1rem;
    text-decoration: none;
    font-size: 25px;
    color: #451952;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    
}
.inicio a:hover{
    border: 1px solid black;
    background-color: #E1AEFFF7;
    border-radius: 30px;
    padding: 5px;
}
main{
    min-height: 80%;
    background-color: #FFBDF7;
}
#banner {
    margin-bottom: 7vh;
    width: 100%;
    height: 35vh;
    margin-top: 1rem;
    background-image: url("images/imagebanner.jpg");
    background-position: center;
    background-size: cover;
    object-fit: cover;
    border-radius: 30px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
h1, h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    color: #451952;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    text-shadow: #FFECEC 2px 5px;
}
h1{
    font-size: 60px;
}
h2{
    font-size: 40px;
}
#caja1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
#caja1 p{
    font-size: 25px;
    color: #451952;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.imagen1 {
    height: 50vh;
    width: 30vw;
    margin: 2rem;
    object-fit: cover;
    border-radius: 30px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
footer{
    min-height: 10%;
    text-align: center;
    background-color: #E1AEFF;
    font-size: 12px;
    color: #451952;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#img-aboutUs1, #img-aboutUs2, #img-aboutUs3 {
    width: 25rem;
    height: 20rem;
    margin: 2rem;
    object-fit: cover;
    border-radius: 30px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
 }
 .aboutUs>img:hover {
    width: 40rem;
    height: 40rem;
    padding: 1rem;
    background-color: #FFECEC;
 }
 .aboutUs{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
 }
 .aboutUs p{
    font-size: 25px;
    color: #451952;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 }
 #imagen5{
    display: inline-flex;
    width: 90%;
    height: 108vh;
    margin: 4.5rem;
    margin-top: 1rem;
    object-fit: cover;
    border-radius: 30px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
 }
 .parrafo-contacto{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 25px;
    color: #451952;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 }
 .contacto nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    margin-top: 2rem;
    font-size: 25px;
    color: #451952;
 }
 .final a:hover{
    border: 1px solid black;
    background-color: #FFECEC;
    border-radius: 30px;
    padding: 5px;
}
#contenedor-services{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
table,tr,th,td {
    border: 2px solid #451952;
    border-collapse: collapse;
    font-size: 25px;
    color: #451952;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
table {
    text-align: center;
    background-color: #E1AEFF;
}
tr,th,td {
    width: 6rem;
    height: 4rem;
}
.tabla{
    padding: 8.3rem;
    border-radius: 30px;
}
#contenedor-listas{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem;
}
.contenedor-lista1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #E1AEFF;
    border-radius: 30px;
}
.imagen6{
    object-fit: cover;
}
h4{
    margin:0.5rem;
}
.contenedor-estrellas{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #451952;
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin:0.5rem;
}
.imagen-estrellas1{
    width: 25rem;
    height: 5rem;
    margin-right: 8rem;
    object-fit: contain;
}
.contenedor-lista2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #E1AEFF;
    border-radius: 30px;
    margin: 2rem;
}
.imagen-estrellas2{
    width: 25rem;
    height: 5rem;
    margin-right: 8rem;
    object-fit: contain;
}
.imagen7{
    object-fit: cover;
}
.parrafo-rating{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 2rem;
    font-size: 25px;
    color: #451952;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
